a.nav-link {
    display: block;
    text-align: left;
    padding-top :8px;
    padding-bottom: 8px;
}

a.nav-link.active{
    background-color: #9c27b0;
}

a.nav-link .material-icons{
    margin-right:8px;
}