<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      HONOR
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li *ngFor="let menu in menus" class="nav-item {{menu.getActiveString()}}">
        <a class="nav-link" routerLink="{{menu.path}}">
          <i class="material-icons">{{menu.icon}}</i>
          <p>{{menu.name}}</p>
        </a>
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/manage-user">
          <i class="material-icons">person</i>
          <p>Manage User</p>
        </a>
      </li> -->
    </ul>
  </div>
  <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-1.jpg) "></div>
</div>