<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      HONOR
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <menu-item *ngFor="let menuItem of menuItems" 
                  [menuItem]="menuItem">
      </menu-item>
    </ul>
  </div>
  <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-1.jpg) "></div>
</div>